* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45 deg, rgb(6, 6, 6), rgb(236, 17, 218) );
    height: 100vh;
    color: rgb(139, 11, 237);
    font-family: Arial;
}

.calculadora {
    position: absolute;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding: 15%;
}

.botao {
    background-color: blue;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: blueviolet;
    border: none;
    color: #fff;
}
.botao:hover {
    background-color:violet;
}